body {
  font-family: "Open Sans", sans-serif; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent; }
  .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus:hover, .navbar-default .navbar-nav > .active > a:hover:hover {
    color: #f7600e !important; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #f7600e !important; }

section {
  margin: 70px 0; }

header {
  color: #FFF;
  background: url("../img/header.jpg") 50% 50% fixed;
  background-size: cover;
  position: relative; }
  header .overlay, header .overlay-nav {
    background-color: rgba(61, 66, 72, 0.8); }
  header .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh; }
  header nav {
    background-color: transparent !important;
    border: 0 !important;
    margin-bottom: 0 !important; }
  header span {
    color: #f7600e; }
  header a {
    color: #FFF !important;
    transition: 0.5s all ease-in; }
  header h1 {
    font-size: 3.5em; }
  header .buttons {
    margin-top: 40px;
    margin-bottom: 15px; }
    header .buttons a {
      margin-right: 15px;
      padding: 10px 40px;
      border-radius: 10px;
      text-decoration: none;
      border: 1px solid #DDD; }
      header .buttons a:last-of-type {
        margin-right: 0; }
      header .buttons a:hover {
        background-color: #f7600e; }
  header .scroll-down {
    position: absolute;
    bottom: 15px;
    left: calc(50% - 25px); }
    header .scroll-down i {
      color: #FFF;
      padding: 5px;
      border: 1px solid #DDD;
      border-radius: 50%; }

#service .serv {
  padding: 30px 0; }
  #service .serv i {
    border: 1px solid #DDD;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    line-height: 140px;
    color: #f7600e;
    transition: 0.5s all ease-in-out; }
    #service .serv i:hover {
      background-color: #f7600e;
      color: #FFF; }

#newsletter {
  background: url("../img/newsletter.jpg") 50% 50% fixed;
  background-size: cover; }
  #newsletter .overlay {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(61, 66, 72, 0.8); }
    #newsletter .overlay input[type="email"], #newsletter .overlay button {
      border-radius: 10px;
      height: 40px;
      margin: 15px 0; }
    #newsletter .overlay button {
      background-color: #f7600e;
      border: 0;
      outline: none;
      color: #FFF; }

section#ourwork .info {
  margin-bottom: 30px; }
  section#ourwork .info h2 span {
    color: #f7600e; }
  section#ourwork .info p {
    font-size: 1.2em; }
section#ourwork .image-holder {
  padding: 15px 0; }
section#ourwork .show-more {
  margin-top: 50px; }
  section#ourwork .show-more a {
    color: rgba(61, 66, 72, 0.8);
    padding: 10px 35px;
    border-radius: 10px;
    border: 1px solid #DDD;
    text-decoration: none;
    transition: 0.5s all ease-out; }
    section#ourwork .show-more a:hover {
      background-color: #f7600e;
      border: 1px solid transparent;
      color: #FFF; }

#testi {
  background: url("../img/test.jpg") 50% 50% fixed;
  background-size: cover;
  color: #FFF; }
  #testi .container {
    position: relative; }
  #testi .overlay {
    background-color: rgba(61, 66, 72, 0.8);
    min-height: 70vh;
    display: flex;
    align-items: center; }
    #testi .overlay .client {
      padding: 0 50px; }
      #testi .overlay .client .img-holder {
        margin-bottom: 35px; }
        #testi .overlay .client .img-holder img {
          border-radius: 50%; }
      #testi .overlay .client .info h3 {
        margin-bottom: 35px; }
  #testi .fa-angle-left, #testi .fa-angle-right {
    color: #6f7478;
    position: absolute;
    bottom: 50%;
    cursor: pointer;
    transition: 0.5s all ease-out; }
    #testi .fa-angle-left:hover, #testi .fa-angle-right:hover {
      color: #f7600e; }
  #testi .fa-angle-right {
    right: 0; }
  #testi .fa-angle-left {
    left: 0; }

#team .info {
  margin-bottom: 50px; }
  #team .info span {
    color: #f7600e; }
  #team .info p {
    font-size: 1.2em; }
#team .team {
  margin: 10px;
  padding: 10px 0;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  color: #6f7478;
  transition: 0.5s all ease-in-out; }
  #team .team img {
    transition: 0.5s all ease-in-out; }
  #team .team .social {
    margin: 20px 0; }
    #team .team .social i {
      padding: 5px;
      margin: 5px;
      background-color: #f7600e;
      color: #FFF;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      line-height: 30px; }
  #team .team:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    color: #000; }
    #team .team:hover img {
      transform: scale(1.1);
      border-bottom: 3px solid #f7600e; }

@media (max-width: 767px) {
  input {
    margin-top: 40px !important; } }

/*# sourceMappingURL=style.css.map */
